<h1>Archivesquirrel</h1>
<% if current_user %>
  <% if current_user.has_received_invitations? %>
    <%= render 'invitations/received_invitations' %>
  <% end %>
  <% if current_user.has_given_invitations? %>
    <%= render 'invitations/given_invitations' %>
  <% end %>
  <h2>Your Projects</h2>
  <%= render partial: 'projects/user_index', 
                      locals: { projects: current_user.all_projects } %>
  <%= link_to 'Create Project', new_project_path %>
<% end %>