<%= form_tag internal_invite_path, class: "form-inline" do %>
  <fieldset>
    <div class="form-group">
      <%= text_field_tag :invitee_name, nil, class: "form-control" %>
      <%= hidden_field_tag :project, project_id %>
      <%= submit_tag 'Invite', class: "btn btn-success" %>
    </div>
  </fieldset>
<% end %>