<h4>Invitations You Have Given</h4>
  <table class="table table-hover">
    <% current_user.given_invitations.each do |invite| %>
       <tr><td>
       You have invited <%= formatted_user_profile_link invite.invitee %>
        to <%= link_to invite.project.name, project_path(invite.project) %>.
        <p><%= button_to 'Cancel Invitation', cancel_invite_path,
                                 method: :delete,
                                 params: { invite_id: invite.id },
                                 class: "btn btn-danger btn-xs" %></p>
      </td></tr>
    <% end %>
  </table>