<% if projects.any? %>
  <table class="table table-hover">
      <% projects.each do |project| %>
        <tr><td><%= formatted_project_link project %></td></tr>
      <% end %>
  </table>
<% else %>
  <p>No projects yet.</p>
<% end %>
